<web-app>
    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>servletclass.MemberController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/api/member.do</url-pattern>
    </servlet-mapping>
</web-app>